[Unit]
Description=mosquitto MQTT in Docker container running as a service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=no
RestartSec=60s
Type=simple
NotifyAccess=all
ExecStart=-/usr/bin/systemdock -a start -n mosquitto
ExecStop=/usr/bin/systemdock -a stop -n mosquitto

[Install]
WantedBy=multi-user.target
